.library {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}

.headerBar {
	display: flex;
	justify-content: space-between;
}

.headerBar > input {
	width: 70%;
	background: var(--color-bg-3);
	border-radius: 0.3rem;
}

.bookshelf {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	gap: 1rem;
	row-gap: 2rem;
}

@media (max-width: 600px) {
	.bookshelf {
		grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
	}
}
