* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

body {
  min-height: 100vh;
  background: var(--window-bg-color);
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: var(--window-fg-color);
}

input {
  background-color: var(--view-bg-color);
  color: var(--view-fg-color);
  outline: none;
  min-height: 34px;
  padding-left: 9px;
  padding-right: 9px;
  border-spacing: 6px;
  border-radius: 6px;
}

.frame,
input {
  border: 1px solid var(--border-color);
}

.pdfSlick {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  background-color: var(--color-bg);
}
