:root {
  --border-color: color-mix(
    in srgb,
    currentColor var(--border-opacity),
    transparent
  );
  --border-opacity: 15%;

  --view-hover-color: color-mix(in srgb, currentColor 4%, transparent);
  --view-active-color: color-mix(in srgb, currentColor 8%, transparent);
  --view_selected_color: color-mix(in srgb, currentColor 10%, transparent);
  --view_selected_hover_color: color-mix(
    in srgb,
    currentColor 13%,
    transparent
  );
  --view_selected_active_color: color-mix(
    in srgb,
    currentColor 17%,
    transparent
  );

  --accent-bg-color: #3584e4;
  --accent-fg-color: #ffffff;
}

html[data-theme="light"] {
  color-scheme: light;
  --window-bg-color: #fafafb;
  --window-fg-color: rgb(0 0 6 / 80%);

  --view-bg-color: #ffffff;
  --view-fg-color: rgb(0 0 6 / 80%);

  --headerbar-bg-color: #ffffff;
  --headerbar-fg-color: rgb(0 0 6 / 80%);
  --headerbar-border-color: rgb(0 0 6 / 80%);
  --headerbar-backdrop-color: #fafafb;
  --headerbar-shade-color: rgb(0 0 6 / 12%);
  --headerbar-darker-shade-color: rgb(0 0 6 / 12%);

  --sidebar-bg-color: #ebebed;
  --sidebar-fg-color: rgb(0 0 6 / 80%);
  --sidebar-backdrop-color: #f2f2f4;
  --sidebar-border-color: rgb(0 0 6 / 7%);
  --sidebar-shade-color: rgb(0 0 6 / 7%);

  --card-bg-color: #ffffff;
  --card-fg-color: rgb(0 0 6 / 80%);
  --card-shade-color: rgb(0 0 6 / 7%);

  --thumbnail-bg-color: #ffffff;
  --thumbnail-fg-color: rgb(0 0 6 / 80%);

  --active-toggle-bg-color: #ffffff;
  --active-toggle-fg-color: rgb(0, 0, 6, 0.8);

  --dialog-bg-color: #fafafb;
  --dialog-fg-color: rgba(0, 0, 6, 0.8);

  --popover-bg-color: #ffffff;
  --popover-fg-color: rgba(0, 0, 6, 0.8);
  --popover-shade-color: rgba(0, 0, 6, 0.07);

  --accent-color: #0461be;

  --destructive-bg-color: #e01b24;
  --destructive-fg-color: #ffffff;
  --destructive-color: #c30000;

  --success-bg-color: #2ec27e;
  --success-fg-color: #ffffff;
  --success-color: #007c3d;
}

html[data-theme="dark"] {
  color-scheme: dark;
  --window-bg-color: #222226;
  --window-fg-color: #ffffff;

  --view-bg-color: #1d1d20;
  --view-fg-color: #ffffff;

  --headerbar-bg-color: #2e2e32;
  --headerbar-fg-color: #ffffff;
  --headerbar-border-color: #ffffff;
  --headerbar-backdrop-color: #222226;
  --headerbar-shade-color: rgb(0 0 6 / 36%);
  --headerbar-darker-shade-color: rgb(0 0 6 / 90%);

  --sidebar-bg-color: #2e2e32;
  --sidebar-fg-color: #ffffff;
  --sidebar-backdrop-color: #28282c;
  --sidebar-border-color: rgb(0 0 6 / 36%);
  --sidebar-shade-color: rgb(0 0 6 / 25%);

  --card-bg-color: rgb(255 255 255 / 8%);
  --card-fg-color: #ffffff;
  --card-shade-color: rgb(0 0 6 / 36%);

  --thumbnail-bg-color: #39393d;
  --thumbnail-fg-color: #ffffff;

  --active-toggle-bg-color: rgba(255, 255, 255, 0.2);
  --active-toggle-fg-color: #ffffff;

  --dialog-bg-color: #36363a;
  --dialog-fg-color: #ffffff;

  --popover-bg-color: #36363a;
  --popover-fg-color: #ffffff;
  --popover-shade-color: rgba(0, 0, 6, 0.25);

  --accent-color: #81d0ff;

  --destructive-bg-color: #c01c28;
  --destructive-fg-color: #ffffff;
  --destructive-color: #ff938c;

  --success-bg-color: #26a269;
  --success-fg-color: #ffffff;
  --success-color: #78e9ab;
}
