.app {
  height: 100dvh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(12rem, 1fr) minmax(0, 3fr);
  grid-template-areas:
    "sidebar main"
    "bottombar bottombar";
  overflow: hidden;
}

.sidebarClosed {
  grid-template-columns: 0 minmax(0, 1fr);
}

.main {
  grid-area: main;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
