.combobox {
  position: fixed;
  inset: 0;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--popover-shade-color);
}

.combobox__control {
  display: inline-flex;
  justify-content: space-between;
  width: min(680px, 100%);
  background-color: var(--popover-bg-color);
  color: var(--popover-fg-color);
  outline: none;
  border: 1px solid var(--border-color);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  box-shadow: var(--shadow-soft);
  transition: border-color 250ms, color 250ms;
}

.combobox__control[data-invalid] {
  border-color: var(0 72% 51%);
  color: hsl(0 72% 51%);
}

.combobox__control_multi {
  width: 100%;
  min-width: 200px;
  max-width: 300px;
}

.combobox__input {
  appearance: none;
  display: inline-flex;
  min-width: 0;
  min-height: 40px;
  background: var(--popover-bg-color);
  color: var(--popover-fg-color);
  outline: none;
  border: none;
}

.combobox__input::placeholder {
  color: hsl(240 4% 46%);
}

.combobox__description {
  margin-top: 8px;
  color: hsl(240 5% 26%);
  font-size: 12px;
  user-select: none;
}

.combobox__error-message {
  margin-top: 8px;
  color: hsl(0 72% 51%);
  font-size: 12px;
  user-select: none;
}

.combobox__content {
  background-color: var(--popover-bg-color);
  border: 1px solid var(--border-color);
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.combobox__listbox {
  overflow-y: auto;
  max-height: 30vh;
  padding: 8px;
}

.combobox__listbox:focus {
  outline: none;
}

.combobox__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  color: var(--popover-fg-color);
  border-radius: 0.3rem;
  height: 32px;
  padding: 0 8px;
  position: relative;
  user-select: none;
  outline: none;
}

.combobox__item[data-disabled] {
  color: hsl(240 5% 65%);
  opacity: 0.5;
  pointer-events: none;
}

.combobox__item[data-highlighted] {
  outline: none;
  background-color: var(--view-active-color);
}

.combobox__itemIndicator {
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
