.tabs {
  user-select: none;
  -webkit-user-select: none;
  font-size: 0.9rem;
  grid-area: sidebar;
  width: 100%;
  background-color: var(--sidebar-bg-color);
  overflow-y: auto;
}

.tabs__list {
  position: relative;
  display: flex;
}

.tabs__list[data-orientation="horizontal"] {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.tabs__indicator {
  position: absolute;
  background-color: var(--accent-bg-color);
  transition: all 250ms;
}

.tabs__indicator[data-orientation="horizontal"] {
  bottom: -1px;
  height: 2px;
}

.tabs__trigger {
  display: inline-block;
  border: none;
  background: none;
  padding: 0.6rem 1.2rem;
  outline: none;
}

.tabs__trigger:hover {
  background-color: color-mix(in srgb, currentColor 7%, transparent);
}

.tabs__trigger[data-disabled],
.tabs__trigger[data-disabled]:hover {
  opacity: 0.5;
  background-color: transparent;
}

.tabs__content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.tabs__content__annotations {
  gap: 0.9rem;
  padding-inline: 0.6rem;
}
